// Here you can add your params

// ---------- Color ----------
$yellow: #f9d423;
$red: red;
$app-bg-gradient: #f9d; // 
$blue: #6B869D;

// ---------- Sizes ----------
$nav-height: 200px;
$view-port: 600px; //1200
