
.app-wrapper {
  //display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: flex-center;
  //background: rgba(0, 102, 255, 0.38);

  font-family: sans-serif;
}

.none {
  display: none !important;
} 

.body {
  //background: rgba(0, 102, 255, 0.38);
  font-family: sans-serif;
}

p {
  margin: 0 0 5px;
}

.article {
  background: rgba(0, 102, 255, 0.38);
  //display: inline;
}

.klim {
flex-direction: row;
  //background: rgba(0, 102, 255, 0.38);
  display: inline-flex;
  //flex-direction: column;
}
.news {
  display: block;
   flex-direction: column;
   //background: rgba(0, 50, 255, 0.38); 
}
.news__count {
  display: block;
  position: center;
}
.newz {
  margin: 0 5px  0 0;
}
.add_coin {
  background: rgba(0, 102, 255, 0.38);
}
.postscription {
  background: rgba(0, 70, 255, 0.38);
}
.prescription {
  
}

